{% extends 'base.html' %}

{% block content%}
<div class="jumbotron">
  <h1>Welcome to the Trainer Detail Page </h1>
  <h2>Trainer Details: </h2>
  <p>Name: {{trainer_detail.user.username }}</p>
  <p>Description: {{trainer_detail.description}}</p>
  <p>Age: {{ trainer_detail.age }}</p>
  <p>Skills: {{ trainer_detail.skills }}</p>
  <p>Location: {{ trainer_detail.location}}</p>

  <h2>Workouts</h2>

<!-- this is the view if the user is a trainer -->
  {% if user.is_trainer %}
  <form action="{% url 'gym:trainer_detail' pk=trainer_detail.pk %}" method="POST">
    {% csrf_token %}
    {% for workout in trainer_detail.workouts.all %}
    {{ workout.name }}: £{{ workout.price }}
    <input type="radio" name="workout" value="{{ workout.price }}">
    <p> <a class="btn btn-warning" href="{% url 'gym:workout_update' pk=workout.pk %}">Update</a>  <a class="btn btn-warning" href="{% url 'gym:workout_remove' pk=workout.pk %}">Delete</a> </p>

    <br>

    {% endfor%}
</form>

</div>

<div class="container">
  <p> <a class="btn btn-success" href="{% url 'gym:addWorkout' pk=trainer_detail.pk %}">Add New Workout</a> </p>
  <p> <a class="btn btn-success" href="{% url 'gym:trainer_update' pk=trainer_detail.pk %}">Update Profile</a> </p>

</div>
<!-- this is the view if the user is a client -->
  {% else %}
  <form action="{% url 'gym:trainer_detail' pk=trainer_detail.pk %}" method="GET">
    {% csrf_token %}

    {% for workout in trainer_detail.workouts.all %}
    {{ workout.name }}: £{{ workout.price }}
    <input type="radio" name="workout" value="{{ workout.price }}">
    <br>

    {% endfor%}
    <input type="submit" value="Submit">
</form>
{% endif %}

<div class="container">
  <form action="{% url 'gym:trainer_detail' pk=trainer_detail.pk %}" method="POST">
    {% csrf_token %}
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ data_key }}"
    data-amount="{{price}}"
    data-name="PT"
    data-description="{{ description }}"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="gbp"
    data-billing-address="true"
    data-zip-code="true">
  </script>
</form>

</div>




{% endblock %}
