{% extends 'base.html' %}

{% block content %}
  {% if user.is_trainer == True %}
    <h1>Welcome Trainer: {{ user.username }}</h1>

    {% if user.trainerprofile.profile_img %}
      <img src="{{user.trainerprofile.profile_img.url}}" width="240" alt="No Image">
    {% endif %}
    <h2>Sessions</h2>
    <p>get all available or pending sessions</p>
    <p>model to have available sessions, normal sessions, date, status</p>
    <p>If offer is pending then button to complete or cancel</p>
    <p>when status is changed to completed</p>
    <p>when availble sessions reaches zero sessions is filed away</p>
    <br>
    <br>
    <br>
    <p>PENDING QUEUE</p>
    <br>
    {% for session in session_filter %}
      {% if session.status == 'pending' %}
      <form method="GET">
        {% csrf_token %}
        Status: {{ session.status}} <br>
        {{ session.order.client_name}} has requested to use a {{ session.workout_name }} session

        <a class="btn btn-primary" href="{% url 'gym:complete' pk=session.pk %}">Confirm Session</a>
        </form>
        <br>
        <br>
      {% endif %}

    {% endfor %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>For loop: client name has x amount of sessions yet</p>
    <br>
    <br>

    <p>Here are the sessions Available</p>
    {% for a in available_info%}
    {{ a.session.order.client_name }} has {{ a.available_sessions }} left, bought on {{ a.session.order.created }}
    <br>
    used on: {{ a.date}}
    <br>

    {% endfor %}


  {% else %}
  <p>You are not a trainer</p>

  {% endif %}
{% endblock %}
